:root {
  --primary-color: #e76f51;
  --secondary-color: #f8e1db;
  
  --background: #faf4f2;
  --white: #fff;

  --grey-1: #3b3735;
  --grey-2: #8d8d8d;
  --grey-3: #f3f3f3;
}

html {
  font-size: 16px;
}

body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  background-color: var(--background);
}

/*=====================*/
/* Typography */
/*=====================*/

h1, h2, h3, h4 {
  font-family: 'Archivo Black', sans-serif;
}

h1, h2, h3, h4, p {
  color: var(--grey-1);
}

/*=====================*/
/* Layout */
/*=====================*/

header, section {
  text-align: center;
}

.container {
  width: 90%;
  max-width: 900px;
  margin: 0 auto;
}

.card {
  background-color: var(--white);
  border-radius: 20px;
  text-align: center;
}

/* buttons */

.btn {
  border-radius: 25px;
  text-align: center;
  display: inline-block;
  border: 0;
  width: 10em;
  height: 3em;
}

.btn-primary {
  background-color: var(--primary-color);
  color: var(--white);
}

.btn-secondary {
  background-color: var(--grey-3);
}

.btn-outline {
  background-color: transparent;
  border: var(--primary-color) 1px solid;
  color: var(--primary-color);
}

/* featured-cards */

.featured-card {
  padding: 2.2em 2em;
}


/* Destination cards */

.destination-card {
  padding: 2em;
}

.destination-card__image {
  width: 100%;
}

/* sections */

.section-header {
  text-align: center;
}